body{
    background-color: blue;
    color: white
}

header, footer {
    padding: 0.5em; 
    color: white;
    background-color: red;
    position: fixed;
    clear: left;
    width: 100%;
    bottom: 0;
}
.asdf{
    background-color: aquamarine;
}

h1.header {
    padding: 0;
    margin: 0;
}

div#user {
    float: right;
}

aside {
    float: left;
    width: 160px;
    margin: 0;
    padding: 1em;
}


ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: lightblue;
}

a {
    float: left;
    width: 6em;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 0.2em 0.6em;
    border-right: 1px solid white;
}

a.selected {
    background-color: blue;
}

a:hover {
    background-color: #ff3300;
}

li {
    display: inline;
}

@media only screen and (max-width: 600px) {
    aside {
        width: 100%;
    }

    section {
        margin-left: 0;
        border-left: none;
        padding: 1em;
    }

    ul {
        float: none;
        width: 100%;
        text-align: center; 
    }

    li {
        display: block; 
    }

    a {
        width: 100%;
        border-right: none; 
        box-sizing: border-box; 
    }
}